@font-face {
  font-family: "iconfont";
  /* Project id 3157590 */
  src        : url('iconfont.woff2?t=1643277932195') format('woff2'),
    url('iconfont.woff?t=1643277932195') format('woff'),
    url('iconfont.ttf?t=1643277932195') format('truetype');
}

.iconfont {
  font-family            : "iconfont" !important;
  font-size              : 16px;
  font-style             : normal;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touzi1:before {
  content: "\e627";
}

.icon-touzi2:before {
  content: "\e629";
}

.icon-touzi3:before {
  content: "\e62b";
}

.icon-touzi4:before {
  content: "\e628";
}

.icon-touzi5:before {
  content: "\e62a";
}

.icon-touzi6:before {
  content: "\e62c";
}

.icon-nv:before {
  content: "\e6da";
}

.icon-nan:before {
  content: "\e6dc";
}